/* This is a test to see if git bash will update*/

body {
    background: rgb(16, 77, 146); 
    font-family: Arial, Helvetica, sans-serif;
    text-emphasis-color: white;
}
.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width:30%;
    padding:20px; 
    margin:10px;
    background: lightslategray;
    border-radius: 10px; 
}

.assignment img{
    width: 200px; 
    margin: 10px;
    border: 2px solid rgb(4, 5, 7);
    display:block;
    margin:auto;
}

.assignment img:hover{
    border:10px dashed rgb(255, 255, 255); 
}

h1 {
    color: azure;
    text-align: center;
}

h1:hover{
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
}
a {
    text-decoration:none;
    color:rgb(255, 255, 255);
}

a:hover{
    color:rgb(16, 77, 146);
}